<div>
  <b>First name</b>
  <%= @employee.first_name %>
  <br>
  <b>Last name</b>
  <%= @employee.last_name %>
  <br>
  <b>Phone</b>
  <%= @employee.phone %>
  <br>
  <b>Email</b>
  <%= @employee.email %>
  <br>
  <b>Birthday</b>
  <%= @employee.birthday %>
  <br>
  <b>Country</b>
  <%= @employee.country %>
  <br>
  <b>Active</b>
  <%= @employee.active %>
</div>